joblib
threadpoolctl
cython
flake8
black
mypy
pyamg
numpy==1.15
numpydoc
Pillow
scipy
pandas
matplotlib
seaborn>=0.11.2
pylint
autopep8
pytest
jupytext
ipykernel
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
pydantic
typing
dataclasses
scikit-learn==0.22
